<div class="mainBox">
        <div class="mainBox-left fl">
            <div class="myObj-home" ng-controller="myObj_ctrl">
                <div class="titleMenu">
                    <h1 class="fl">我的目标</h1>
						<span class="d fl">
							<a href="javascript:void(0)" class="{{creatorClass}}" ng-click="myCreator()">我创建的</a>
                            <a href="javascript:void(0)" class="{{responsibleClass}}" ng-click="myResponsible()">我负责的</a>
							<a href="javascript:void(0)" class="{{joinClass}}" ng-click="myJoin()">我参与的</a>
						</span>
                </div>
				<section class="item-home" ng-repeat="myList in objList" style="padding:5px;">
					<a href="#/oDetail/{{myList.id}}" class="d fl item-home-title">{{myList.title}}</a>
					<span class="d fr pr">创建人：{{myList.creator_name}} &nbsp;&nbsp;
						<a href="javascript:void(0)" ng-hide="myList.is_recive|receive_status"  class="btn-receive" ng-click="receive(myList.id,myList)">接收</a>
					</span>
					<a href="" class="d fl item-home-sub item-home-title">所属目标：{{myList.fname}}</a>
                    <span class="d fr item-home-sub">截止日期：{{myList.deadline|time_format}}</span>
                    <div class="c"></div>
				</section>
            </div>
            <div class="newDynamic" ng-controller="dynamic_ctrl">
                <h1>最新动态</h1>
                <section class="item-home" ng-repeat="dynamic in objList" style="padding:5px;">
                    <span class="d fl dynamic-personal">{{dynamic.username}}</span>
                    <span class="d fl dynamic-title">{{dynamic.record}}</span>
                    <span class="d fr dynamic-time">{{dynamic.time|time_format}}</span>
                    <div class="c"></div>
                </section>
            </div>
        </div>
        <div class="mainBox-right fr">
            <div class="toDoList" ng-controller="todo_ctrl">
                <div class="titleMenu">
                    <h1 class="fl">to do list</h1>
						<span class="d fl">
							<a href="javascript:void(0)" class="active-home">今日</a>
                            <a href="javascript:void(0)">明日</a>
							<a href="javascript:void(0)">本周</a>
						</span>
                </div>
                <section class="item-home" ng-repeat="taskViewList in objList" style="padding:5px;">
                    <a href="#/oDetail/{{taskViewList.fid}}" class="d fl item-home-title">{{taskViewList.title}}</a>
						<span class="d fr">
							
							<a href="javascript:void(0)" class="btn-undo">撤消</a>&nbsp;
							<a href="javascript:void(0)" class="btn-complete" ng-click="changeStatus(taskViewList)">完成</a>&nbsp;
						</span>
                    <a href="" class="d fl item-home-sub item-home-title">所属目标：{{taskViewList.oname}}</a>
                    <span class="d fr item-home-sub">创建人：{{taskViewList.creator_name}}&nbsp;截止日期：{{taskViewList.deadline}}</span>
                    <div class="c"></div>
                </section>
            </div>
            <div class="waitFor">
                <h1>我分派的</h1>
                <section class="item-home" style="padding:5px;">
                    <a href="#" class="d fl">目标管理平台文档系统功能实现目标管理平台文档系统功能实现</a>
                    <span class="d fr pr">责任人：张三 &nbsp;已接收</span>
                    <a href="" class="d fl item-home-sub">所属目标：目标管理平台文档系统功能实现目标管理平台文档系统功能实现</a>
                    <span class="d fr item-home-sub">截止日期：2015-10-2</span>
                    <div class="c"></div>
                </section>
                <section class="item-home" style="padding:5px;">
                    <a href="#" class="d fl">目标管理平台文档系统功能实现目标管理平台文档系统功能实现</a>
                    <span class="d fr pr">责任人：张三 &nbsp;已接收</span>
                    <a href="" class="d fl item-home-sub">所属目标：目标管理平台文档系统功能实现目标管理平台文档系统功能实现</a>
                    <span class="d fr item-home-sub">截止日期：2015-10-2</span>
                    <div class="c"></div>
                </section>
                <section class="item-home" style="padding:5px;">
                    <a href="#" class="d fl">目标管理平台文档系统功能实现目标管理平台文档系统功能实现</a>
                    <span class="d fr pr">责任人：张三 &nbsp;已接收</span>
                    <a href="" class="d fl item-home-sub">所属目标：目标管理平台文档系统功能实现目标管理平台文档系统功能实现</a>
                    <span class="d fr item-home-sub">截止日期：2015-10-2</span>
                    <div class="c"></div>
                </section>
                <section class="item-home" style="padding:5px;">
                    <a href="#" class="d fl">目标管理平台文档系统功能实现目标管理平台文档系统功能实现</a>
                    <span class="d fr pr">责任人：张三 &nbsp;已接收</span>
                    <a href="" class="d fl item-home-sub">所属目标：目标管理平台文档系统功能实现目标管理平台文档系统功能实现</a>
                    <span class="d fr item-home-sub">截止日期：2015-10-2</span>
                    <div class="c"></div>
                </section>
            </div>
        </div>
        <div class="c"></div>
    </div>
<script type="text/javascript">
    $(".headBox").show();
</script>